.displayproject {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
  
.displayproject h2 {
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
    3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
    6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
    6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
    9px 7px 1px #4af7ff;
  font-size: 50px;
}

.displayproject a{
  margin-top: 25px;
  font-size: 1.2rem;
  color: #4af7ff;
  text-decoration: none;
}

.displayproject a:hover{
  color: #afffff;
}

.displayproject img {
  width: 60%;
  border-radius: 10px;
}

.displayproject b{
  color: #4af7ff;
}

.displayproject p:nth-of-type(1) {
  width: 80%;
  font-size: 25px;
  color: white;
}

.displayproject p:nth-of-type(2){
  font-size: large;
  width: 60%;
  color :#4af7ff;
}

.displayproject svg {
  font-size: 60px;
  color: white;
}