.projects {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.projects h2 {
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
    3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
    6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
    6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
    9px 7px 1px #4af7ff;
  font-size: 85px;
}

.projects .projectTitle {
  text-align: center;
  color: white;
  font-size: 60px;
  font-weight: bolder;
}

.projectList {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  width: 300px;
  height: 300px;
  cursor: pointer;
  border-radius: 15px;
  margin: 40px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
  text-align: center;
  background-color: rgb(50, 50, 50);
  transition: all 0.4s;
  font-size: 15px;
}

.project:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
  /* background: #4af7ff; */
}

.project .bgImage {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projectItem h1 {
  font-size: 25px;
}

.classprojects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.classprojects h3 {
  font-size: 40px;
  margin-bottom: 1rem;
}

.classprojects a {
  color: #4af7ff;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 1rem;
  transition: color 0.3s ease, transform 0.2s ease;
}

.classprojects a:hover {
  color: #afffff;
  transform: translateY(-2px);
}

.back-to-top {
  bottom: 30px;
  right: 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 4rem;
}

.back-to-top:hover {
  background-color: #0056b3;
}

@media only screen and (max-width: 1300px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .projectList {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .projectList {
    width: 100%;
  }
  .projectItem {
    width: 300px;
    height: 300px;
  }
}
