.App {
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(45deg,rgba(63, 161, 251),rgba(252, 70, 168));
}

body{
  padding:0;
  margin: 0;
}